@font-face {
    font-family: "Apple";
    src: url("../fonts/SF-Pro.ttf");
}

* {
    margin: 0;
    font-family: "Apple";
    background-color: #f4f4f4;
    color: #393939;
}

ul {
    margin-left: -1.5%;
}

.wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.profile-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 35vw;
    height: 100vh;
}

.profile {
    width: 100%;
}

.profile-info {
    width: 80%;
}

.profile-info p {
    float: left;
    padding: 2%;
    font-size: 1.2rem;
}

.icon-links {
    width: 80%;
    padding-top: 1.5%;
}

.icon-links a {
    padding-left: 2%;
    padding-right: 2%;
}

.logo {
    color: #555555;
    font-size: 2rem;
    opacity: 0.5;
    animation: fadein 5s;
    transition: opacity 0.25s ease-in-out;
}

.logo:hover {
    opacity: 1;
    cursor: pointer;
}

.resume-wrapper {
    width: 80%;
    height: auto;
    padding: 2%;
}

.resume {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2rem;
    transition: all 300ms ease-in-out;
    background-color: #f4f4f4;
    color: #393939;
    text-decoration: none;
}

#resume-link {
    font-size: 1.4rem;
    color: white;
    opacity: 0.5;
    transition: all 200ms ease-in-out;
}

#resume-link:hover {
    /* color: #f4f4f4; */
    /* background-color: rgba(85, 85, 85, 1); */
    text-decoration: none;
    opacity: 0.75;
}

.pfp {
    width: 60%;
    border: 5px solid #393939;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.5rem #393939);
}

.name {
    font-weight: bold;
    font-size: 2.5rem;
    width: 100%;
}

.content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 65vw;
    height: auto;
}

.section-wrapper {
    width: 80%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 4%;
}

.header {
    font-size: 3rem;
}

.entry {
    width: 100%;
    padding: 2%;
}

.entry-header {
    font-size: 1.5rem;
    color: #444444;
}

.entry-subheader {
    font-style: italic;
    font-size: 1.25rem;
    color: #727272;
}

.date {
    float: right;
}

.entry-text {
    font-size: 1.1rem;
    color: #555555;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.link-text {
    color: #14308b;
}

a.link {
    text-decoration: underline 2.5px rgba(20, 48, 139, 0);
    transition: text-decoration-color 300ms;
    cursor: pointer;
}

a.link:hover {
    text-decoration: underline 2.5px rgba(20, 48, 139, 1);
    cursor: pointer;
}

a.link:active {
    color: rgba(20, 48, 139, 1);
}

a.link:visited {
    color: rgba(20, 48, 139, 1);
}
